<form [formGroup]="form" [hidden]="loading || success">
    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="OTHER">Other</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Birthday</mat-label>
        <input [matDatepicker]="picker" formControlName="birthday" matInput>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Sexual preferences</mat-label>
        <mat-select formControlName="preferences">
            <mat-option value="FEMALE">Female</mat-option>
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="BI">Bi</mat-option>
            <mat-option value="OTHER">Other</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Biography</mat-label>
        <input autocomplete="on" formControlName="biography" matInput name="biography" type="text">
    </mat-form-field>
    <br>
    <p>Do you accept us estimating your approximate location from your IP address?</p>
    <mat-radio-group formControlName="acceptGeolocation">
        <mat-radio-button [value]="true">Yes, use my IP address</mat-radio-button>
        <mat-radio-button [value]="false">No, let me enter it manually</mat-radio-button>
    </mat-radio-group>
    <br>
    @if (form.controls['acceptGeolocation'].value === false) {
        <mat-form-field appearance="fill">
            <mat-label>Enter your approximate location</mat-label>
            <input formControlName="geolocation" matInput name="geolocation" type="text">
            @if (form.controls['geolocation'].value == locationErrorValue) {
                <mat-hint style="color: red">Invalid location</mat-hint>
            }
        </mat-form-field>
        <br>
    }
    <!--		INTERESTS TAGS -->
    <app-tags [tags]="_tags"></app-tags>
    <!--		pictures -->
    <app-picture-selection
            (favorite)="favorite = $event"></app-picture-selection>
    <br>
    <button (click)="submit()" [disabled]="form.invalid || _tags.length < 1 || favorite == '' || (form.controls['acceptGeolocation'].value === false && !form.controls['geolocation'].value)" mat-raised-button type="button">
        Register !
    </button>
</form>
@if (loading) {
    <div>
        <h3>Register in progress</h3>
    </div>
}
@if (success) {
    <div>
        <h3>An email has been sent to verify your account.
            <br>You will not be able to login without verifying your account.
        </h3>
    </div>
}
{{ error }}
