@if (loading) {
    <mat-spinner></mat-spinner>
}
@if (!loading) {
    <div class="profile-page panel page-stack">
        @if (isMyProfile) {
            <button mat-raised-button routerLink="/profile/edit">Edit My profile</button>
        }
        @if (!isMyProfile) {
            <div>
                <h4>{{ (profile.last_connected | isOnline) ? 'Online' : ('Last Connected: ' + (profile.last_connected | date: 'dd/MM/YYYY HH:mm')) }}</h4>
            </div>
        }
        <h4>{{ profile.firstname }} {{ profile.lastname }} ({{ profile.username }})</h4>
        @if (profile.pictures == undefined || profile.pictures.length > 0) {
            <div class="picture-grid">
                @for (picture of profile.pictures; track picture) {
                    <img [alt]="picture" [src]="picture" class="gallery-picture">
                }
            </div>
        }
        <div>
            <h4>Biography</h4>
            {{ profile.biography }}
        </div>
        <div>
            <h4>Birthday</h4>
            {{ profile.birthday | date: 'dd/MM/YYYY' }}
        </div>
        <div>
            <h4>Gender</h4>
            {{ profile.gender }}
        </div>
        <div>
            <h4>Profile picture</h4>
            <img [alt]="profile.profile_picture" [src]="profile.profile_picture" class="profile-picture">
            @if (!isMyProfile && !profile.blocked && profile.profile_picture) {
                <button (click)="profile.profile_picture_liked ? dislikePicture() : likePicture()"
                        [disabled]="disableLikePicture" aria-label="Like profile picture" mat-icon-button>
                    <mat-icon [ngClass]="{'red-icon': profile.profile_picture_liked, 'grey-icon': !profile.profile_picture_liked}">favorite
                    </mat-icon>
                </button>
            }
        </div>
        <div>
            <h4>{{ profile.custom_geolocation ? 'Custom location' : 'Calculated geolocation' }}</h4>
            {{ profile.geolocation }}
        </div>
        <div>
            <h4>sexual orientation</h4>
            {{ profile.sexual_orientation }}
        </div>
        <div>
            <h4>Tags</h4>
            <mat-chip-set aria-label="Tags selection">
                @for (tag of profile.tags; track tag) {
                    <mat-chip>#{{ tag }}</mat-chip>
                }
            </mat-chip-set>
        </div>
        @if (isMyProfile) {
            <app-more-profile-infos></app-more-profile-infos>
        }
        @if (!isMyProfile) {
            <app-fame-rating [username]="profile.username"></app-fame-rating>
        }
        @if (!isMyProfile && profile.blocked) {
            <div>
                Blocked
            </div>
        }
        @if (!isMyProfile && !profile.blocked) {
            <div>
                @if (profile.fake_account) {
                    <p class="fake-account-warning">This account seems to be a fake account</p>
                }
                <br>
                @if (!profile.fake_account) {
                    <button (click)="reportAsFake()" mat-raised-button>Report as fake</button>
                }
                <button (click)="profile.liked ? dislikeProfile() : likeProfile()"
                        mat-raised-button>{{ profile.liked ? 'Dislike' : 'like' }}
                </button>
                <button (click)="blockProfile()" mat-raised-button>Block</button>
                <br>
                @if (profile.liked && profile.likes_back) {
                    <p>It's a match!
                        <button [routerLink]="'/chat/'+profile.username" mat-raised-button>Message!</button>
                    </p>
                }
            </div>
        }
    </div>
}
