<table style="width: 100%">
  @for (message of (messages$ | async | filterUsername: username); track message) {
    <tr [style]="(message.sender_id === username) ? 'text-align: right' : 'text-align: left'">
      @if (!(message.sender_id === username)) {
        <div class="message" style="text-align: right"><div class="sent"><span style="font-size: 12px;">{{message.time | date: 'MM/dd/YYY HH:mm'}} </span> {{ message.content }}</div></div>
      }
      @if (message.sender_id === username) {
        <div class="message" style="text-align: left"><div class="received">{{ message.content }} <span style="font-size: 12px;"> {{message.time | date: 'MM/dd/YYY HH:mm'}}</span></div></div>
      }
    </tr>
  }
</table>
