
<div class="menu" *ngIf="!(isLoggedIn$ | async)">
	<div>
		<button mat-button [color]="route === '/sign/in' ? 'primary' : undefined" routerLink="sign/in">Login</button>
		<button mat-button [color]="route === '/sign/up' ? 'primary' : undefined" routerLink="sign/up">Register</button>
	</div>
</div>
<div class="menu" *ngIf="isLoggedIn$ | async">
	<div *ngIf="route !== '/profile/complete'">
		<button mat-button [color]="route.includes('/profile/' + username) ? 'primary' : undefined" (click)="openMyProfile()">My profile</button>
		<button mat-button [color]="route === '/discover' ? 'primary' : undefined" routerLink="discover">Discover</button>
		<button mat-button [color]="route.includes('/chat') ? 'primary' : undefined" routerLink="chat">Chat</button>
		<button mat-button [color]="route === '/notifications' ? 'primary' : undefined" routerLink="notifications" [matBadge]="(hasNewNotifications$ | async)" [matBadgeHidden]="(hasNewNotifications$ | async) === 0">Notifications</button>
	</div>
	<div>
		<button mat-icon-button *ngIf="route === '/discover'" routerLink="search"><mat-icon>search</mat-icon></button>
		<button mat-button (click)="logout()">Logout</button>
	</div>
</div>


<router-outlet></router-outlet>
