@if (!(isLoggedIn$ | async)) {
    <div class="menu">
        <div>
            <button [color]="route === '/sign/in' ? 'primary' : undefined" mat-button routerLink="sign/in">Login
            </button>
            <button [color]="route === '/sign/up' ? 'primary' : undefined" mat-button routerLink="sign/up">Register
            </button>
        </div>
    </div>
}
@if (isLoggedIn$ | async) {
    <div class="menu">
        @if (route !== '/profile/complete') {
            <div>
                <button (click)="openMyProfile()" [color]="route.includes('/profile/' + username) ? 'primary' : undefined"
                        mat-button>My profile
                </button>
                <button [color]="route === '/discover' ? 'primary' : undefined" mat-button routerLink="discover">
                    Discover
                </button>
                <button [color]="route.includes('/chat') ? 'primary' : undefined" mat-button routerLink="chat">Chat
                </button>
                <button [color]="route === '/notifications' ? 'primary' : undefined" [matBadgeHidden]="(hasNewNotifications$ | async) === 0"
                        [matBadge]="(hasNewNotifications$ | async)" mat-button
                        routerLink="notifications">Notifications
                </button>
            </div>
        }
        <div>
            @if (route === '/discover') {
                <button mat-icon-button routerLink="search">
                    <mat-icon>search</mat-icon>
                </button>
            }
            <button (click)="logout()" mat-button>Logout</button>
        </div>
    </div>
}


<router-outlet></router-outlet>
