<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-grid #chipGrid>
            @for (tag of _tags(); track $index) {
                <mat-chip-row (removed)="remove(tag)">
                    #{{ tag }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            }
        </mat-chip-grid>
        <input
                name="currentTag"
                placeholder="New tag..."
                #tagInput
                [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto"
                [(ngModel)]="currentTag"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); tagInput.value = ''">
            @for (option of availableTags | async; track option) {
                <mat-option [value]="option">
                    {{ option }}
                </mat-option>
            }
        </mat-autocomplete>
        @if (_tags().length < 1) {
            <mat-error>At least one tag is required</mat-error>
        }
    </mat-form-field>
</form>
