@if (!(messages$ | async) || (messages$ | async)?.length == 0) {
  <p>
    No messages.
  </p>
}
<mat-list>
  @for (message of (messages$ | async | getLatests); track message) {
    <mat-list-item>
      <button mat-stroked-button [color]="route.includes(message.sender_id === activeUsername ? message.receiver_id : message.sender_id) ? 'primary' : undefined" [routerLink]="message.sender_id === activeUsername ? message.receiver_id : message.sender_id">
        <span>
          {{ message.sender_id === activeUsername ? message.receiver_id : message.sender_id }}
        </span>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward"></mat-icon>
      </button>
    </mat-list-item>
  }
</mat-list>
<button mat-raised-button (click)="openNewMessageDialog()">Write a new message</button>
