<form [formGroup]="form" [hidden]="(loading$ | async)">
    <mat-card>
        <mat-card-title>
            Age gap
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill" class="example-margin example-width">
                <mat-label>Min value</mat-label>
                <input formControlName="ageGapMin" matInput min="0" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-margin example-width">
                <mat-label>Max value</mat-label>
                <input formControlName="ageGapMax" matInput min="0" type="number">
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Fame gap
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="fill" class="example-margin example-width">
                <mat-label>Min value</mat-label>
                <input formControlName="fameGapMin" matInput min="0" type="number">
            </mat-form-field>
            <mat-form-field appearance="fill" class="example-margin example-width">
                <mat-label>Max value</mat-label>
                <input formControlName="fameGapMax" matInput min="0" type="number">
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Location
        </mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>Enter a location name</mat-label>
            <input autocomplete="on" formControlName="location" matInput name="last_name" type="text">
        </mat-form-field>
    </mat-card>
    <app-tags [tags]="_tags"></app-tags>
    <button (click)="search()" mat-raised-button>Search</button>
</form>
<br>
