@if (!loading && !success) {
    <form [formGroup]="form">
        <mat-form-field appearance="fill">
            <mat-label>Enter your username</mat-label>
            <input autocomplete="on" formControlName="username" matInput name="username" type="text">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your first name</mat-label>
            <input autocomplete="on" formControlName="firstname" matInput name="first_name" type="text">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your last name</mat-label>
            <input autocomplete="on" formControlName="lastname" matInput name="last_name" type="text">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input autocomplete="on" formControlName="email" matInput name="email" type="email">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input autocomplete="on" formControlName="password" matInput name="password" type="password">
        </mat-form-field>
        @if (form.controls['password'].invalid) {
            <p>Password must contain at least:
                <br>- 6 characters
                <br>- One uppercase letter
                <br>- One lowercase letter
                <br>- One number
                <br>- One special character
            </p>
        }
        <br>
        @if (error) {
            <div style="color: red">
                {{ errorMessage }}
            </div>
        }
        <button (click)="submit()" [disabled]="form.invalid" mat-raised-button>Register !</button>
    </form>
}
@if (loading) {
    <div>
        <h3>Register in progress</h3>
    </div>
}
@if (success) {
    <div>
        <h3>An email has been sent to verify your account.
            <br>You will not be able to login without verifying your account.
        </h3>
    </div>
}
