<mat-list>
    @if ((notifications$ | async)?.length == 0) {
        <mat-list-item>
            <p matListItemLine>
                No notifications yet
            </p>
        </mat-list-item>
    }
    @for (notification of (notifications$ | async); track notification) {
        <mat-list-item>
            <h3 matListItemTitle>{{ notification.title }}</h3>
            <p matListItemLine>
                {{ notification.content }}
            </p>
            @if (!notification.opened) {
                <button matListItemMeta (click)="markRead(notification.id)" mat-mini-fab>
                    <mat-icon>done</mat-icon>
                </button>
            }
        </mat-list-item>
    }
    <mat-divider></mat-divider>
</mat-list>
